{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Productos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Código de barras</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto['id'] }}</td>
                <td>{{ producto['nombre'] }}</td>
                <td>₲{{ '{:,.0f}'.format(producto['precio']) }}</td>
                <td>{{ producto['stock'] }}</td>
                <td>{{ producto['categoria'] }}</td>
                <td>{{ producto['codigo_barras'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
